* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255, 0.3);
}

header:hover {
    background: rgb(255, 255, 255, 1);
}

.logo {
    flex: 1;
}

.logo img {
    width: 100px;
    height: 75px;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 12px;
    position: relative;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 1s;
    z-index: 1;
    background: #fff;
}

.sub-menu ul a {
    padding-left: 20px;
}

.sub-menu li a {
    font-weight: normal;
    font-size: 15px!important;
}

.menu>li>a {
    font-size: 15px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}

.other {
    flex: 1;
    display: flex;
}

.other>li {
    padding: 0 10px;
}

.other>li:first-child {
    position: relative;
}

.other>li:first-child input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #333;
}

.other>li:first-child i {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.4s;
}

#sLider {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}


/* app */

.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px;
}

.app-google {
    margin: 50;
}

.app-google img {
    height: 50px;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

footer {
    text-align: flex;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-center {
    text-align: center;
}

header.sticky {
    background: rgb(255, 255, 255, 1);
}


/* cartegory */

.row {
    display: flex;
    flex-wrap: wrap;
}

.cartegory {
    padding: 100px 0 0;
}

.cartegory-top {
    margin-bottom: 50px;
}

.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.cartegory-left {
    width: 20%;
}

.cartegory-right {
    width: 80%;
}

.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}

.cartegory-right-top-item {
    flex: 1;
    padding: 0 12px;
}

.cartegory-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dddddddd;
    cursor: pointer;
}

.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}

.cartegory-right-top-item {
    width: calc(25%-12px);
    text-align: center;
    padding: 12px;
}

.cartegory-right-content-item {
    border-style: outset;
    border-radius: 20px;
    padding: 10px;
    max-width: 290px;
}

.cartegory-right-content-item h1 {
    font-size: 15px;
    text-align: center;
    font-family: var(--main-text-font);
    color: #333333;
}

.cartegory-right-content-item h1:hover {
    color: red;
}

.cartegory-right-content-item img {
    width: 250px;
    height: 250px;
}

.cartegory-right-content-item p {
    font-size: 20px;
    text-align: center;
}

.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}

.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}

.cartegory-left ul li {
    padding: 12px 0;
}

.cartegory-left ul li>a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.cartegory-left ul li ul li {
    padding-left: 10px;
}

.cartegory-left-li ul {
    display: none;
}

.cartegory-left-li.block ul {
    display: block;
}

.cartegory-left ul li ul li a {
    color: #333333;
}


/* product */

.product {
    padding: 100px 0;
}

.product-top {
    margin-bottom: 30px;
}

.product-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.product-content-left {
    width: 50%;
}

.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img {
    width: 100%;
}

.product-content-left-small-img {
    width: 20%;
}

.product-content-left-small-img img {
    width: 100%;
}

.product-content-right {
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-name h1 {
    font-family: var(--main-text-font);
    font-size: 16px;
}

.product-content-right-product-name p {
    color: #000;
    font-size: 12px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}

.quantity {
    display: flex;
    margin-bottom: 20px;
}

.quantity input {
    width: 35px;
    padding-left: 3px;
}

.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}

.product-content-right-product-button button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dddddd;
    border: 2px solid black;
    cursor: pointer;
}

.product-content-right-product-button button:first-child:hover {
    background-color: black;
    color: #ffff;
}

.product-content-right-product-button:last-child {
    border: 2px solid #8F8A49;
    color: #8F8A49;
    cursor: pointer;
    background-color: #fff;
}

.product-content-right-product-icon {
    display: flex;
}


/* .product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
} */

.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 6px;
}

.product-content-right-bottom {
    padding-top: 40px;
    border: 1px, solid #dddddd;
    position: relative;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px, solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

.product-content-right-bottom-content-title-item p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

.product-content-right-bottom-content {
    padding-top: 30px;
}

.product-content-right-bottom-content {
    font-family: var(--main-text-font);
    font-size: 12px;
}


/* cart */

.cart {
    padding: 100px 0;
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #dddddd;
}

.cart-top-cart {
    border: 1px solid #0DB7EA;
}

.cart-top-cart i {
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}

.cart-content-left table input {
    width: 30px;
}

.cart-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left td:first-child img {
    width: 130px;
}

.cart-content-left td:nth-child(2) {
    max-width: 130px;
}

.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}

.cart-content-right table {
    width: 100%;
}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}

.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px solid #dddddd;
}

.cart-content-right tr td:last-child {
    text-align: right;
}

.cart-content-right-button {
    text-align: center;
    align-items: center;
}

.cart-content-right-button button {
    padding: 0 10px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child {
    background-color: black;
    border: 1px solid black;
    margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
    background-color: #dddddd;
}

.cart-content-right-button button:last-child {
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}

.cart-content-right-button button:last-child:hover {
    background-color: #dddddd;
    color: black;
}

.cart-content-right-dangnhap {
    margin-top: 20px;
}

.cart-content-right-dangnhap p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    font-weight: bold;
}


/* PAYMENT */

.payment {
    padding: 100px 0;
}

.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.payment-top-item i {
    color: #dddddd;
}

.payment-top-payment {
    border: 1px solid #0DB7EA;
}

.payment-top-payment i {
    color: #0DB7EA;
}

.payment-content-left {
    width: 60%;
}

.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}

.payment-content-left p,
label {
    font-size: 12px;
    font-family: var(--main-text-font);
}

.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #000;
}

.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}

.payment-content-right-button button {
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.payment-content-right-payment button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}


/* sigup */


/* 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    box-sizing: border-box
}


 body {
    font-family: 'Noto Sans JP', sans-serif;
}  */

h1,

/* label {
    color: DodgerBlue;
}  */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    /* display: inline-block; */
    border: none;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); */
}

*/ input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.Sig {
    display: flex;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

*/
/* 
 button:hover {
    opacity: 1;
} */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    float: left;
    width: 100%;
    /* border-radius: 15px; */
    border: 0;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); */
}

.container {
    padding: 16px;
}


/* */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

*/ */
/* login */

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login {
    max-width: 400px;
    background: rgba(73, 67, 67, 0.8);
    flex-grow: 1;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}

.form-group {
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.form-group i {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}

.form-input::placeholder {
    color: #f5f5f5;
}

#eye i {
    padding-right: 0;
    cursor: pointer;
}

.form-submit {
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}

.form-submit:hover {
    border: 1px solid #54a0ff;
}

.infor-product-order {
    padding-top: 15px;
    border-bottom: 1px solid #dadada;
}

.product-item {
    justify-content: space-between;
    padding-bottom: 15px;
}

.product-img {
    position: relative;
}

.product-img img {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #e5e2e2;
}

.quantity-product {
    position: absolute;
    background-color: #a3a3a3;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.quantity-product span {
    width: max-content;
}

.product-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
    color: #484848;
}

.product-price {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-weight: 600;
}

.ma-giam-gia {
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
}

.ma-giam-gia input {
    width: 70%;
    padding: 12px 10px;
    font-size: 15px;
    outline: navajowhite;
    border-radius: 4px;
    border: 1px solid #999;
    transition: all 0.2s ease-out;
}

.ap-dung-ma {
    background-color: #c8c8c8;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 17px;
    cursor: pointer;
}

.ma-giam-gia input:focus {
    box-shadow: 0 0 0 2px #338dbc;
}

.tam-tinh {
    padding: 10px 0;
    border-bottom: 1px solid #dadada;
    padding-right: 20px;
}

.tam-tinh-main,
.phi-van-chuyen,
.tong-cong {
    justify-content: space-between;
    padding-top: 5px;
}

.tong-cong {
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

@media screen and (max-width:740px) {
    .checkout_product {
        margin: 20px;
    }
    .ap-dung-ma {
        font-size: 12px;
    }
}